export API_KEY='token-abc123'
#export API_MODEL='Qwen/QwQ-32B-AWQ'
#export API_MODEL='Models/Qwen/Qwen3-30B-A3B-Q8_0.gguf'
#export API_MODEL='../vllm/Models/Qwen/Qwen3-30B-A3B-Q8_0.gguf'
#export API_MODEL='Qwen/Qwen3-32B-AWQ'
#export API_MODEL='Models/mistralai/Devstral-Small-2507-Q8_0.gguf'
#export API_MODEL='../vllm/Models/mistralai/Devstral-Small-2507-Q8_0.gguf'
#export API_MODEL='../vllm/Models/mistralai/Devstral-Small-2507-UD-QK_K.gguf'
export API_MODEL='../vllm/Models/Qwen/Qwen3-30B-A3B-Thinking-2507-UD-Q6_K_XL.gguf'
#export API_MODEL='Valdemardi/DeepSeek-R1-Distill-Qwen-32B-AWQ'
#export API_MODEL='kosbu/Llama-3.3-70B-Instruct-AWQ'
#export API_MODEL='Qwen/Qwen2.5-Coder-32B-Instruct-AWQ'
#export API_MODEL='KirillR/QwQ-32B-Preview-AWQ'
#export API_MODEL='Qwen/Qwen2.5-72B-Instruct-AWQ'
export API_BASE=http://localhost:10000/v1/chat/completions
export OPENAI_API_KEY='token-abc123'
#export DEFAULT_MODEL="GPT 5 Nano"
#export DEFAULT_MODEL="openai 120b Local"



export OPENAI_API_KEY=sk-proj-nMJ....
export GOOGLE_API_KEY=AI....
export LOCAL_API_KEY=abc123
export TOGETHERAI_API_KEY=ed4....
export GROQ_API_KEY=gsk_Q....
export OPENROUTER_API_KEY=sk-or-v1-6....
export DEEPSEEK_API_KEY=sk-d....
export TAVILY_API_KEY=tvly-dev-c.....
export BASETEN_API_KEY=XG....
export QWEN_CODE_API_KEY=dcypE....
export GROK_CODE_API_KEY=xai-yg....
export MOONSHOTAI_API_KEY=sk-kn....
export DEEPINFRA_API_KEY=wP....

#for gemini-cli
export OPENAI_BASE_URL=http://localhost:10000/v1
export OPENAI_MODEL="$API_MODEL"

