# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
.venv/
build/
dist/
*.egg-info/
.eggs/

# Editor / OS
.DS_Store
.idea/
.vscode/

# Test / coverage
.pytest_cache/
.coverage*
htmlcov/
